* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
}

.product {
  height: 200px;
  width: 200px;
}

.product-image {
	width: 100%;
	height: 150px;
}

.chip {
	border-radius: 8px;
	padding: 8px;
	text-align: center;
	width: fit-content;
	margin: 10px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
